<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4" th:object="${mainForm}">
<head>
<meta charset="UTF-8">
<title>Tạp hóa Quang Ý</title>
<link rel="stylesheet" type="text/css" href="../../css/library/slick.css" />
<link rel="stylesheet" type="text/css" href="../../css/library/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="../../css/library/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../css/app/main.css" />
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">

</head>
<body>
  <form th:action="@{/main}" method="post">
    <div id="container">
      <header>
        <!-- 共通ヘッダー -->
        <div th:replace="common :: common-header"></div>
      </header>
      <!-- 画面のメイン部分 -->
      <main>
        <div class="box box-primary" id="adminTab">
          <div class="box-body" th:hidden="*{delFlg == '0' || delFlg == '2' }">
            <div class="form-group row">
              <label class="col-md-12 col-form-label" style="text-align: center; color: #00DD00;"><b>処理が正常終了しました。</b></label>
            </div>
          </div>
          <div class="box-body" th:hidden="*{delFlg == '0' || delFlg == '1'}">
            <div class="form-group row">
              <label class="col-md-12 col-form-label" style="text-align: center; color: red;"><b>処理が異常終了しました。</b></label>
            </div>
          </div>
          <div class="box-body" th:hidden="*{t1Cnt != 100}">
            <div class="form-group row">
              <label class="col-md-12 col-form-label" style="text-align: center; color: red;"><b>検索結果が100件を超えたため、先頭から100件だけ表示します。</b></label>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group row">
              <div class="col-md-1"></div>
              <label class="col-md-2 col-form-label" style="text-align: center;">検索用ユーザーID</label>
              <div class="col-md-3">
                <input type="text" class="form-control input-sm" maxlength="14" th:field="*{searchUserId}">
              </div>
              <label class="col-md-2 col-form-label" style="text-align: right;">アカウン状態</label>
              <div class="col-md-3">
                <label th:each="cn : *{originalMap.get('cnAccStt')}" class="radio-inline"> &nbsp;&nbsp;&nbsp;<input type="radio" th:field="*{accSttFlg}" th:value="${cn.value}" /> <span
                  th:text="${cn.key}"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6" align="right">
                <button class="btn btn-secondary" type="submit" id="userSearchBtn" name="userSearchBtn">ユーザ情報検索</button>
              </div>
            </div>
          </div>
          <div class="box-body"></div>
          <!-- 検索結果  -->
          <div class="box-body">
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="margin-left: 10px"><b>検索結果一覧</b></label>
            </div>
            <div class="form-group row">
              <div class="col-md-12" align="center">
                <table id="t1" class="table table-striped table-bordered table-condensed text-nowrap" style="margin-left: 10px; margin-right: 10px">
                  <thead class="bg-info">
                    <tr>
                      <th style="width: 1%">No</th>
                      <th style="width: 1%"><input type="checkbox" name="allChecked" id="all"></th>
                      <th style="width: 25%">ユーザID</th>
                      <th style="width: 18%">メールアドレス</th>
                      <th style="width: 15%">ユーザー氏名</th>
                      <th style="width: 10%">ニックネーム</th>
                      <th style="width: 10%">電話番号</th>
                      <th style="width: 10%">登録日時</th>
                      <th style="width: 10%">更新日時</th>
                    </tr>
                  </thead>
                  <tbody id="t1-body">
                    <tr th:each="t1, stat : *{t1}" th:with="i=${stat.index}, count=${stat.count}">
                      <td class="text-right" th:text="${count}">No</td>
                      <td><input type="checkbox" th:field="*{t1[__${i}__].checkBoxFlg}" th:checked="${'t1[__${i}__].checkBoxFlg' == 1}" th:value="0" /></td>
                      <td><input type="text" class="form-control input-sm" maxlength="14" th:field="*{t1[__${i}__].userId}" readonly></td>
                      <td><span th:text="*{t1[__${i}__].mail}">メールアドレス</span></td>
                      <td><span th:text="*{t1[__${i}__].userName}">ユーザー氏名</span></td>
                      <td><span th:text="*{t1[__${i}__].nickName}">ニックネーム</span></td>
                      <td><span th:text="*{t1[__${i}__].phoneNumber}">電話番号</span></td>
                      <td><span th:text="*{t1[__${i}__].regstTmstmp != null && t1[__${i}__].regstTmstmp != ''} ? *{#temporals.format(t1[__${i}__].regstTmstmp,'yyyy/MM/dd HH:mm:ss')}">登録日時</span></td>
                      <td><span th:text="*{t1[__${i}__].updTmstmp != null && t1[__${i}__].updTmstmp != ''} ? *{#temporals.format(t1[__${i}__].updTmstmp,'yyyy/MM/dd HH:mm:ss')}">更新日時</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-outline-danger" id="delBtn" name="delBtn" style="margin-left: 10px">
                  <i class="fas fa-trash-alt mr-1"></i> 削除
                </button>
                <button type="submit" class="btn btn-outline-danger" id="refBtn" name="refBtn" style="margin-left: 10px">
                  <i class="fas fa-refresh-alt mr-1"></i> 復元
                </button>
              </div>
              <div class="col-md-6" align="right">
                <button class="btn btn-primary" type="submit" id="adminCreateBtn" name="adminCreateBtn">新規登録</button>
              </div>
            </div>
          </div>
        </div>
        <div hidden="hidden">
          <input type="text" class="form-control input-sm" th:field="*{userId}">
          <input type="text" class="form-control input-sm" th:field="*{senimotoGamenId}">
          <input type="text" class="form-control input-sm" th:field="*{delFlg}">
          <input type="text" class="form-control input-sm" th:field="*{adminFlg}">
          <input type="text" class="form-control input-sm" th:field="*{t1Cnt}">
        </div>
      </main>
      <!-- 共通フッター -->
      <footer>
        <div th:replace="common :: common-footer"></div>
      </footer>
    </div>
    <script type="text/javascript" th:src="@{../../js/library/jquery-3.6.0.js}"></script>
    <script type="text/javascript" th:src="@{../../js/library/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{../../js/library/slick.min.js}"></script>
    <script type="text/javascript" th:src="@{../../js/library/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{../../js/app/main.js}"></script>
    <script type="text/javascript" th:src="@{../../js/app/common.js}"></script>
  </form>
</body>
</html>