<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4" th:object="${singupForm}">
<head>
<meta charset="UTF-8">
<title>Tạp hóa Quang Ý</title>
<link rel="stylesheet" type="text/css" href="../../css/library/slick.css" />
<link rel="stylesheet" type="text/css" href="../../css/library/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="../../css/library/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../css/app/singup.css" />
</head>
<body>
  <form th:action="@{/singup}" method="post">
    <div id="container">
      <!-- header -->
      <header>
        <div th:replace="common :: common-header"></div>
      </header>
      <!-- main -->
      <main>
        <div class="box box-primary">
          <div class="box-body">
            <!--  ユーザ区分 -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="text-align: right">Phân loại người dùng</label>
              <div class="col-md-3" th:disabled="*{senimotoGamenId != 'main'}">
                <label th:each="cn : *{originalMap.get('cnUserKbn')}" class="radio-inline"> &nbsp;&nbsp;&nbsp;<input type="radio" th:field="*{roleId}" th:value="${cn.value}" /> <span
                  th:text="${cn.key}"></span>
                </label>
              </div>
            </div>
            <!--  メールアドレス -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="text-align: right">Địa chỉ Email</label>
              <div class="col-md-4">
                <input type="text" class="form-control input-sm" th:field="*{mail}">
              </div>
              <div class="col-md-4" th:classappend="${#fields.hasErrors('mail')} ? 'has-error'" style="text-align: left;">
                <span class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
              </div>
            </div>
            <!-- ユーザー名称 -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="text-align: right">Tên người dùng</label>
              <div class="col-md-4">
                <input type="text" class="form-control input-sm" th:field="*{userName}" maxlength="20">
              </div>
              <div class="col-md-4" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'" style="text-align: left;">
                <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
              </div>
            </div>
            <!-- ニックネーム -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="text-align: right">Nick name</label>
              <div class="col-md-4">
                <input type="text" class="form-control input-sm" th:field="*{nickName}" maxlength="10">
              </div>
              <div class="col-md-4" th:classappend="${#fields.hasErrors('nickName')} ? 'has-error'" style="text-align: left;">
                <span class="text-danger" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></span>
              </div>
            </div>
            <!-- 電話番号 -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="text-align: right">Số điện thoại</label>
              <div class="col-md-4">
                <input type="text" class="form-control input-sm" maxlength="15" th:field="*{phoneNumber}">
              </div>
              <div class="col-md-4" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'has-error'" style="text-align: left;">
                <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
              </div>
            </div>
            <!-- パスワード -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="text-align: right">Mật khẩu</label>
              <div class="col-md-4">
                <input type="password" class="form-control input-sm" th:field="*{pass}">
              </div>
              <div class="col-md-4" th:classappend="${#fields.hasErrors('pass')} ? 'has-error'" style="text-align: left;">
                <span class="text-danger" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></span>
              </div>
            </div>
            <!-- パスワード（確認用） -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" style="text-align: right">Xác nhận mật khẩu</label>
              <div class="col-md-4">
                <input type="password" class="form-control input-sm" th:field="*{pass2}">
              </div>
              <div class="col-md-4" th:classappend="${#fields.hasErrors('pass2')} ? 'has-error'" style="text-align: left;">
                <span class="text-danger" th:if="${#fields.hasErrors('pass2')}" th:errors="*{pass2}"></span>
              </div>
            </div>
          </div>
          <div hidden="hidden">
            <input type="text" class="form-control input-sm" th:field="*{userId}">
            <input type="text" class="form-control input-sm" th:field="*{btnShowFlg}">
            <input type="text" class="form-control input-sm" th:field="*{senimotoGamenId}">
          </div>
          <div class="box box-solid">
            <div class="box-body">
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-1" align="left">
                  <button class="btn btn-primary" type="submit" id="loginBtn" name="loginBtn">Đăng nhập</button>
                  <button class="btn btn-primary" type="submit" id="backBtn" name="backBtn">Quay lại</button>
                </div>
                <div class="col-md-3" align="right">
                  <button class="btn btn-primary" type="submit" id="torokuBtn" name="torokuBtn">Đăng kí</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- 共通フッター -->
      <footer>
        <div th:replace="common :: common-footer"></div>
      </footer>
    </div>

    <script type="text/javascript" th:src="@{../../js/library/jquery-3.6.0.js}"></script>
    <script type="text/javascript" th:src="@{../../js/library/slick.min.js}"></script>
    <script type="text/javascript" th:src="@{../../js/library/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{../../js/app/common.js}"></script>
    <script type="text/javascript" th:src="@{../../js/app/singup.js}"></script>
  </form>
</body>
</html>