<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapp.login.LoginSqlMapper">
	<select id="selectUserInfo"
		resultType="com.example.webapp.login.LoginForm">
		SELECT
			USER_ID AS userId
			, PASS_WORD AS pass
			,HASH_BEFORE_PASS AS pass2
		FROM
			USER_TBL
		WHERE
			USER_ID = #{userId}
			AND ENABLED = '0'
	</select>
</mapper>